<html>
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type">
    <title>Register User</title>
</head>
<body>
<h2>User Registration:</h2>
<form action="registerUser" method="post">
<pre>
First Name: <input name="firstName" type="text"/>
Last Name:  <input name="lastName" type="text"/>
User Name: <input name="email" type="text"/>
Password: <input name="password" type="password"/>
Confirm Password: <input name="confirmPassword" type="password"/>
   Roles: <br/>
    <label for="adminRoleLabel">ADMIN</label>
    <input name="ADMIN" type="checkbox">
    <label for="userRoleLabel"> USER</label>
    <input name="USER" type="checkbox"><br/>

<input type="submit" value="register"/>
</pre>
</form>

</body>
</html>